* {
    margin: 0;
}

h1 {
    font-family: cursive;
    font-size: 60px;
    color: rgb(171, 179, 161);
    text-align: center;
}

.container {
    border: 3px solid rgb(7, 8, 7);
    display: flex;
    height: 20.vh;
}

.box {
    flex: 1 1 300px;
    height: 100px;
}

.box:nth-of-type(1) {
    background: rgb(2, 15, 2);
}

.box:nth-of-type(2) {
    background: rgb(184, 218, 184);
}

.box:nth-of-type(3) {
    background: rgb(99, 121, 99);
}

.box:nth-of-type(4) {
    background: rgb(127, 189, 127);
}

.box:nth-of-type(5) {
    background: rgb(109, 224, 109);
}

.box:nth-of-type(6) {
    background: rgb(53, 124, 53);
}

